header {
  background-color: white;
  text-align: center;
  font-size: 50px;
  padding: 20px;
}

body {
  margin: 0px 0px;
  background-color: #3c3838;
}

.elementsToShow {
  width: 150px;
  height: 150px;
}

.elements {
  width: 150px;
  height: 150px;
  filter: brightness(50%);
  margin-top: 20px;
  display: block;
}

#unclickableStone {
  margin-top: 50px;
  margin-left: 440px;
}

#stone:hover {
  filter: brightness(100%);
}

#unclickablePaper {
  margin: 0px 40px;
}

#paper:hover {
  filter: brightness(100%);
}

#scissor:hover {
  filter: brightness(100%);
}

#result {
  width: 300px;
  height: 200px;
  background-size: contain;
}

#play {
  width: 200px;
  height: 200px;
  padding: 60px 600px;
}

#play:hover {
  filter: brightness(50%);
}

.flex {
  display: flex;
}

.displayResult {
  margin: 100px 400px;
  display: block;
  font-size: 30px;
}

#result {
  background-size: stretch;
}
