header {
  background-color: white;
  text-align: center;
  font-size: 50px;
  padding: 20px;
}

body {
  margin: 0px 0px;
  background-color: #3c3838;
}

#stone {
  margin-top: 50px;
  margin-left: 500px;
  width: 150px;
  height: 150px;
}
#paper {
  width: 150px;
  height: 150px;
}
#scissor {
  width: 150px;
  height: 150px;
}
#result {
  width: 300px;
  height: 200px;
  background-size: contain;
}
